{:type :invoke, :f :read, :value nil, :process 1, :time 34097277, :index 0}
{:type :ok, :f :read, :value nil, :process 1, :time 136763586, :index 1}
{:type :invoke, :f :write, :value 0, :process 0, :time 666008189, :index 2}
{:type :ok, :f :write, :value 0, :process 0, :time 679382553, :index 3}
{:type :invoke, :f :write, :value 1, :process 4, :time 732240186, :index 4}
{:type :ok, :f :write, :value 1, :process 4, :time 739901667, :index 5}
{:type :invoke, :f :read, :value nil, :process 3, :time 845924804, :index 6}
{:type :ok, :f :read, :value "1", :process 3, :time 851280653, :index 7}
{:type :invoke, :f :read, :value nil, :process 1, :time 1183385608, :index 8}
{:type :ok, :f :read, :value "1", :process 1, :time 1189131802, :index 9}
{:type :invoke, :f :read, :value nil, :process 3, :time 1742766652, :index 10}
{:type :ok, :f :read, :value "1", :process 3, :time 1748739706, :index 11}
{:type :invoke, :f :read, :value nil, :process 2, :time 1809630208, :index 12}
{:type :ok, :f :read, :value "1", :process 2, :time 1815274859, :index 13}
{:type :invoke, :f :read, :value nil, :process 0, :time 1818058812, :index 14}
{:type :ok, :f :read, :value "1", :process 0, :time 1822766984, :index 15}
{:type :invoke, :f :read, :value nil, :process 2, :time 2253933313, :index 16}
{:type :ok, :f :read, :value "1", :process 2, :time 2259280929, :index 17}
{:type :invoke, :f :read, :value nil, :process 3, :time 2310303168, :index 18}
{:type :ok, :f :read, :value "1", :process 3, :time 2315237895, :index 19}
{:type :invoke, :f :read, :value nil, :process 4, :time 2401417724, :index 20}
{:type :ok, :f :read, :value "1", :process 4, :time 2406888757, :index 21}
{:type :invoke, :f :read, :value nil, :process 3, :time 2876739149, :index 22}
{:type :ok, :f :read, :value "1", :process 3, :time 2881703413, :index 23}
{:type :invoke, :f :write, :value 4, :process 0, :time 2924346590, :index 24}
{:type :ok, :f :write, :value 4, :process 0, :time 2931085878, :index 25}
{:type :invoke, :f :write, :value 3, :process 1, :time 2980579563, :index 26}
{:type :ok, :f :write, :value 3, :process 1, :time 2987786406, :index 27}
{:type :invoke, :f :read, :value nil, :process 0, :time 3191520531, :index 28}
{:type :ok, :f :read, :value "3", :process 0, :time 3196432423, :index 29}
{:type :invoke, :f :write, :value 0, :process 4, :time 3327408370, :index 30}
{:type :invoke, :f :write, :value 3, :process 3, :time 3330272847, :index 31}
{:type :ok, :f :write, :value 0, :process 4, :time 3337073737, :index 32}
{:type :ok, :f :write, :value 3, :process 3, :time 3337582339, :index 33}
{:type :invoke, :f :write, :value 0, :process 1, :time 3870240386, :index 34}
{:type :ok, :f :write, :value 0, :process 1, :time 3878890079, :index 35}
{:type :invoke, :f :read, :value nil, :process 2, :time 3915724534, :index 36}
{:type :ok, :f :read, :value "0", :process 2, :time 3920546132, :index 37}
{:type :invoke, :f :write, :value 1, :process 0, :time 4116026806, :index 38}
{:type :ok, :f :write, :value 1, :process 0, :time 4122610520, :index 39}
{:type :invoke, :f :read, :value nil, :process 4, :time 4150664233, :index 40}
{:type :ok, :f :read, :value "1", :process 4, :time 4155016666, :index 41}
{:type :invoke, :f :read, :value nil, :process 0, :time 4820081043, :index 42}
{:type :ok, :f :read, :value "1", :process 0, :time 4825590222, :index 43}
{:type :invoke, :f :write, :value 2, :process 3, :time 4918969322, :index 44}
{:type :ok, :f :write, :value 2, :process 3, :time 4927304093, :index 45}
{:type :invoke, :f :read, :value nil, :process 2, :time 5342987236, :index 46}
{:type :ok, :f :read, :value "2", :process 2, :time 5348591511, :index 47}
{:type :invoke, :f :read, :value nil, :process 3, :time 5368796013, :index 48}
{:type :ok, :f :read, :value "2", :process 3, :time 5373206267, :index 49}
{:type :invoke, :f :write, :value 3, :process 3, :time 5449632681, :index 50}
{:type :ok, :f :write, :value 3, :process 3, :time 5457984414, :index 51}
{:type :invoke, :f :read, :value nil, :process 1, :time 5566584768, :index 52}
{:type :ok, :f :read, :value "3", :process 1, :time 5572149015, :index 53}
{:type :invoke, :f :write, :value 0, :process 0, :time 5601106231, :index 54}
{:type :ok, :f :write, :value 0, :process 0, :time 5607308518, :index 55}
{:type :invoke, :f :write, :value 3, :process 1, :time 5614658683, :index 56}
{:type :ok, :f :write, :value 3, :process 1, :time 5621353454, :index 57}
{:type :invoke, :f :read, :value nil, :process 3, :time 5768454892, :index 58}
{:type :ok, :f :read, :value "3", :process 3, :time 5772552791, :index 59}
{:type :invoke, :f :read, :value nil, :process 3, :time 5894979452, :index 60}
{:type :ok, :f :read, :value "3", :process 3, :time 5899746285, :index 61}
{:type :invoke, :f :read, :value nil, :process 4, :time 5918595443, :index 62}
{:type :ok, :f :read, :value "3", :process 4, :time 5923471618, :index 63}
{:type :invoke, :f :write, :value 4, :process 4, :time 6074910308, :index 64}
{:type :ok, :f :write, :value 4, :process 4, :time 6084954016, :index 65}
{:type :invoke, :f :write, :value 1, :process 2, :time 6206059684, :index 66}
{:type :ok, :f :write, :value 1, :process 2, :time 6214382693, :index 67}
{:type :invoke, :f :write, :value 1, :process 2, :time 6258853466, :index 68}
{:type :ok, :f :write, :value 1, :process 2, :time 6265231489, :index 69}
{:type :invoke, :f :read, :value nil, :process 3, :time 6379183806, :index 70}
{:type :ok, :f :read, :value "1", :process 3, :time 6384100561, :index 71}
{:type :invoke, :f :write, :value 3, :process 4, :time 6388467589, :index 72}
{:type :ok, :f :write, :value 3, :process 4, :time 6395229180, :index 73}
{:type :invoke, :f :write, :value 1, :process 0, :time 6659734879, :index 74}
{:type :ok, :f :write, :value 1, :process 0, :time 6667158774, :index 75}
{:type :invoke, :f :read, :value nil, :process 1, :time 6721847752, :index 76}
{:type :ok, :f :read, :value "1", :process 1, :time 6726627081, :index 77}
{:type :invoke, :f :write, :value 4, :process 4, :time 6800623205, :index 78}
{:type :ok, :f :write, :value 4, :process 4, :time 6807980750, :index 79}
{:type :invoke, :f :write, :value 0, :process 0, :time 7097731130, :index 80}
{:type :invoke, :f :read, :value nil, :process 2, :time 7102664544, :index 81}
{:type :ok, :f :write, :value 0, :process 0, :time 7106190266, :index 82}
{:type :ok, :f :read, :value "4", :process 2, :time 7106684068, :index 83}
{:type :invoke, :f :write, :value 0, :process 2, :time 7353054067, :index 84}
{:type :ok, :f :write, :value 0, :process 2, :time 7360662075, :index 85}
{:type :invoke, :f :read, :value nil, :process 4, :time 7677500839, :index 86}
{:type :ok, :f :read, :value "0", :process 4, :time 7682209636, :index 87}
{:type :invoke, :f :read, :value nil, :process 0, :time 7957722227, :index 88}
{:type :ok, :f :read, :value "0", :process 0, :time 7962568877, :index 89}
{:type :invoke, :f :write, :value 3, :process 3, :time 8107535309, :index 90}
{:type :ok, :f :write, :value 3, :process 3, :time 8114593645, :index 91}
{:type :invoke, :f :write, :value 3, :process 4, :time 8618786370, :index 92}
{:type :ok, :f :write, :value 3, :process 4, :time 8626933166, :index 93}
{:type :invoke, :f :read, :value nil, :process 3, :time 8670098582, :index 94}
{:type :ok, :f :read, :value "3", :process 3, :time 8674240356, :index 95}
{:type :invoke, :f :write, :value 4, :process 0, :time 8675971441, :index 96}
{:type :invoke, :f :read, :value nil, :process 1, :time 8678194163, :index 97}
{:type :ok, :f :write, :value 4, :process 0, :time 8681791963, :index 98}
{:type :ok, :f :read, :value "4", :process 1, :time 8682698219, :index 99}
{:type :invoke, :f :read, :value nil, :process 0, :time 8729206358, :index 100}
{:type :ok, :f :read, :value "4", :process 0, :time 8733147938, :index 101}
{:type :invoke, :f :write, :value 4, :process 2, :time 8838648802, :index 102}
{:type :invoke, :f :write, :value 4, :process 3, :time 8840359289, :index 103}
{:type :ok, :f :write, :value 4, :process 2, :time 8846233197, :index 104}
{:type :ok, :f :write, :value 4, :process 3, :time 8846699030, :index 105}
{:type :invoke, :f :write, :value 0, :process 4, :time 8880789811, :index 106}
{:type :ok, :f :write, :value 0, :process 4, :time 8889174298, :index 107}
{:type :invoke, :f :read, :value nil, :process 3, :time 8979023800, :index 108}
{:type :ok, :f :read, :value "0", :process 3, :time 8984262900, :index 109}
{:type :invoke, :f :write, :value 2, :process 2, :time 9151699343, :index 110}
{:type :ok, :f :write, :value 2, :process 2, :time 9158947025, :index 111}
{:type :invoke, :f :read, :value nil, :process 2, :time 9641341343, :index 112}
{:type :ok, :f :read, :value "2", :process 2, :time 9645515106, :index 113}
{:type :invoke, :f :read, :value nil, :process 1, :time 9752073166, :index 114}
{:type :ok, :f :read, :value "2", :process 1, :time 9756818537, :index 115}
{:type :invoke, :f :write, :value 1, :process 2, :time 9893903770, :index 116}
{:type :ok, :f :write, :value 1, :process 2, :time 9900267999, :index 117}
{:type :invoke, :f :write, :value 2, :process 4, :time 9914551794, :index 118}
{:type :ok, :f :write, :value 2, :process 4, :time 9921015736, :index 119}
{:type :invoke, :f :read, :value nil, :process 0, :time 10197557995, :index 120}
{:type :ok, :f :read, :value "2", :process 0, :time 10201972779, :index 121}
{:type :invoke, :f :write, :value 4, :process 2, :time 10454660617, :index 122}
{:type :ok, :f :write, :value 4, :process 2, :time 10463222480, :index 123}
{:type :invoke, :f :write, :value 0, :process 2, :time 10521693844, :index 124}
{:type :ok, :f :write, :value 0, :process 2, :time 10528908969, :index 125}
{:type :invoke, :f :read, :value nil, :process 3, :time 10533776989, :index 126}
{:type :ok, :f :read, :value "0", :process 3, :time 10538448499, :index 127}
{:type :invoke, :f :write, :value 4, :process 1, :time 10644226814, :index 128}
{:type :ok, :f :write, :value 4, :process 1, :time 10651743537, :index 129}
{:type :invoke, :f :write, :value 0, :process 4, :time 11056406887, :index 130}
{:type :ok, :f :write, :value 0, :process 4, :time 11065052462, :index 131}
{:type :invoke, :f :read, :value nil, :process 3, :time 11138921238, :index 132}
{:type :ok, :f :read, :value "0", :process 3, :time 11143098423, :index 133}
{:type :invoke, :f :read, :value nil, :process 1, :time 11143194535, :index 134}
{:type :ok, :f :read, :value "0", :process 1, :time 11148198148, :index 135}
{:type :invoke, :f :write, :value 4, :process 3, :time 11740578239, :index 136}
{:type :ok, :f :write, :value 4, :process 3, :time 11748609988, :index 137}
{:type :invoke, :f :write, :value 2, :process 0, :time 11945396206, :index 138}
{:type :ok, :f :write, :value 2, :process 0, :time 11951175061, :index 139}
{:type :invoke, :f :read, :value nil, :process 2, :time 12115293016, :index 140}
{:type :ok, :f :read, :value "2", :process 2, :time 12120235967, :index 141}
{:type :invoke, :f :write, :value 1, :process 4, :time 12314535934, :index 142}
{:type :ok, :f :write, :value 1, :process 4, :time 12321863956, :index 143}
{:type :invoke, :f :read, :value nil, :process 2, :time 12599621271, :index 144}
{:type :ok, :f :read, :value "1", :process 2, :time 12603912029, :index 145}
{:type :invoke, :f :read, :value nil, :process 4, :time 12677377151, :index 146}
{:type :invoke, :f :read, :value nil, :process 3, :time 12681016592, :index 147}
{:type :ok, :f :read, :value "1", :process 4, :time 12681844877, :index 148}
{:type :ok, :f :read, :value "1", :process 3, :time 12684782114, :index 149}
{:type :invoke, :f :read, :value nil, :process 1, :time 12736679616, :index 150}
{:type :ok, :f :read, :value "1", :process 1, :time 12741557801, :index 151}
{:type :invoke, :f :read, :value nil, :process 2, :time 12779270867, :index 152}
{:type :ok, :f :read, :value "1", :process 2, :time 12783602611, :index 153}
{:type :invoke, :f :read, :value nil, :process 4, :time 13103373046, :index 154}
{:type :ok, :f :read, :value "1", :process 4, :time 13108438132, :index 155}
{:type :invoke, :f :read, :value nil, :process 1, :time 13238969657, :index 156}
{:type :ok, :f :read, :value "1", :process 1, :time 13244054937, :index 157}
{:type :invoke, :f :write, :value 2, :process 0, :time 13293542376, :index 158}
{:type :ok, :f :write, :value 2, :process 0, :time 13299316076, :index 159}
{:type :invoke, :f :write, :value 3, :process 2, :time 13730016321, :index 160}
{:type :ok, :f :write, :value 3, :process 2, :time 13737359987, :index 161}
{:type :invoke, :f :read, :value nil, :process 3, :time 13862298770, :index 162}
{:type :ok, :f :read, :value "3", :process 3, :time 13866948503, :index 163}
{:type :invoke, :f :read, :value nil, :process 0, :time 13905651192, :index 164}
{:type :ok, :f :read, :value "3", :process 0, :time 13910585356, :index 165}
{:type :invoke, :f :read, :value nil, :process 2, :time 13978199802, :index 166}
{:type :ok, :f :read, :value "3", :process 2, :time 13982598352, :index 167}
{:type :invoke, :f :read, :value nil, :process 2, :time 14815970914, :index 168}
{:type :invoke, :f :read, :value nil, :process 0, :time 14819972295, :index 169}
{:type :ok, :f :read, :value "3", :process 2, :time 14821826805, :index 170}
{:type :ok, :f :read, :value "3", :process 0, :time 14824445295, :index 171}
